@import "src/styles/main.module";

.navigation {
  display: flex;
  align-items: center;
  height: 50px;
  background: $c_grey;
  margin-bottom: 20px;
}

.link {
  margin-left: 20px;
  font-size: 20px;
  &:hover {
    color: $c_light_grey;
    transition: 0.3s;
  }
}